@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.projects-text {
    font-size: 18px;
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.text-h4 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.fade-in {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.25s all ease;
}

.fade-in.active {
    transform: translateY(0);
    opacity: 1;
}

.projects-grid1 {
	display: flex;
    align-items: center;
    justify-content: center;
}

.projects-grid2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-grid3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    flex-basis: 40%;
	border-radius: 5px;
	box-shadow: 2px 4px 6px 0 #b45596d1;
}

.project-image:hover {
	filter: brightness(.75);
    transform: scale(1.05);
	box-shadow: 10px 10px 15px #b4559636;
}

.project-image-wrapper {
    max-width: 50%;
    padding: 20px;
	position: relative;
}

.dark div a {
    color: #fffdfa;
  }
  
.light div {
    color: #33032f;
  }

@media only screen and (max-width: 280px) {
    .projects-grid1 .projects-grid2 .projects-grid3 {
        flex-direction: column;
    }
}